<div class="page-header">
  <%= link_to new_product_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Product
  <% end %>
  <h1>Listing products</h1>
</div>
<div>
 <a href="/products?order=ASC">Order Ascending</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="/products?order=DESC">Order Descending</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="/products">No Order</a>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @products.each do |product| %>
    <tr>
      <td><%= product["title"] %></td>
      <td><%= link_to 'Show', product_path(product["id"]) %></td>
      <td><%= link_to 'Edit', edit_product_path(product["id"]) %></td>
      <td><%= link_to 'Destroy', product_path(product["id"]), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
